In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import new data set
df_ords_prior=pd.read_csv(r"C:\Users\justi\Downloads\4.6_orders_products_prior\orders_products_prior.csv")

In [3]:
#Import orders data set
df_ords=pd.read_csv(r"C:\Users\justi\02-24 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv")

In [4]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords.shape

(3214874, 8)

In [7]:
#Merging
df_merged_large=df_ords.merge(df_ords_prior, on ='order_id', indicator=True)

In [8]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,1,2398795,1,2,3,7,15.0,196,1,1,both
1,1,1,2398795,1,2,3,7,15.0,10258,2,0,both
2,1,1,2398795,1,2,3,7,15.0,12427,3,1,both
3,1,1,2398795,1,2,3,7,15.0,13176,4,0,both
4,1,1,2398795,1,2,3,7,15.0,26088,5,1,both

In [9]:
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

In [10]:
path = r"C:\Users\justi\02-24 Instacart Basket Analysis"

In [11]:
path

'C:\\Users\\justi\\02-24 Instacart Basket Analysis'

In [12]:
#export to csv
df_merged_large.to_csv(os.path.join(path,'02 Data','Prepared Data', 'orders_product_combined.csv'))

In [13]:
#export to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [14]:
df_merged_large.shape

(30356421, 12)